<!--Programing Languages-->
<div class="skills-container">
  <h3>{{ "Skills.ProgrammingLanguages" | translate }}</h3>
  <div class="skills-list">
    <div class="skill">
      <div style="width: 120px">Java</div>
    </div>
    <div class="skill">
      <div style="width: 110px">C#</div>
    </div>
    <div class="skill">
      <div style="width: 100px">TypeScript</div>
    </div>
  </div>
</div>

<!--Back-End-->
<div class="skills-container">
  <h3>{{ "Skills.BackEnd" | translate }}</h3>
  <div class="skills-list">
    <div class="skill">
      <div style="width: 100px">Jakarta EE</div>
    </div>
    <div class="skill">
      <div style="width: 100px">Spring boot</div>
    </div>
    <div class="skill">
      <div style="width: 100px">Maven</div>
    </div>
    <div class="skill">
      <div style="width: 100px">JDK 8-21</div>
    </div>
    <div class="skill">
      <div style="width: 110px">REST-Services</div>
    </div>
  </div>
</div>

<!--Front-End-->
<div class="skills-container">
  <h3>{{ "Skills.FrontEnd" | translate }}</h3>
  <div class="skills-list">
    <div class="skill">
      <div style="width: 140px">Angular</div>
    </div>
    <div class="skill">
      <div style="width: 110px">Vaadin</div>
    </div>
    <div class="skill">
      <div style="width: 110px">Flutter</div>
    </div>
    <div class="skill">
      <div style="width: 110px">React Native</div>
    </div>
    <div class="skill">
      <div style="width: 90px">Three.js</div>
    </div>
  </div>
</div>

<!--VR-->
<div class="skills-container">
  <h3>{{ "Skills.VR3D" | translate }}</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 15px">
    <div class="skill">
      <div style="width: 120px">Unity</div>
    </div>
    <div class="skill">
      <div style="width: 90px">Blender</div>
    </div>
  </div>
</div>

<!--BBDD-->
<div class="skills-container">
  <h3>{{ "Skills.BBDD" | translate }}</h3>
  <div class="skills-list">
    <div class="skill">
      <div style="width: 120px">Oracle</div>
    </div>
    <div class="skill">
      <div style="width: 120px">DB2</div>
    </div>
    <div class="skill">
      <div style="width: 90px">MongoDB</div>
    </div>
  </div>
</div>
