@use "variables" as vars;

html {
  scroll-padding-top: 40px; // Height of the fixed Retro OS Window Bar
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  font-family: vars.$font-family-cursive;
  font-size: 15px;
  border: 0;
  vertical-align: baseline;
  color: var(--text-color);
  transition:
    background-color 0.1s ease,
    color 0.1s ease;
}

main {
  width: vars.$main-width-desktop;
  margin: auto;
  background: var(--surface-color);
  box-shadow: 0 0 25px var(--shadow-color);
  transition:
    background-color 0.1s ease,
    box-shadow 0.1s ease;

  @media all and (max-width: 1099px) {
    width: vars.$main-width-mobile;
  }
  @media all and (min-width: 1100px) {
    width: vars.$main-width-tablet;
  }
  @media all and (min-width: 1300px) {
    width: vars.$main-width-desktop;
  }
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  padding: 5px;
  margin: auto;
  width: 90%;
}

h2 {
  font-weight: normal;
}

p {
  text-align: justify;
  font-family: vars.$font-family-serif;
  line-height: 1.3;
  letter-spacing: 0.05em;
  padding: 0 0.8em;
  margin-top: 1em;
  font-size: 0.9em;
  color: vars.$text-color;
}

.hidden {
  display: none;
}
