$common-color: #bdc3c7;

.tonica {
  background-color: #2980b9;
  color: white !important;
  border: 2px solid #1a5276;
}

.supertonica {
  background-color: $common-color;
  color: #2c3e50 !important;
}

.mediante {
  background-color: #f1c40f;
  color: #2c3e50 !important;
  border: 1px solid #d4ac0d;
}

.subdominante {
  background-color: $common-color;
  color: #2c3e50 !important;
}

.dominante {
  background-color: #27ae60;
  color: white !important;
  border: 1px solid #1e8449;
}

.superdominante {
  background-color: #7f8c8d;
  color: white !important;
}

.sensible {
  background-color: #8e44ad;
  color: white !important;
  border: 1px solid #703688;
}

.novena {
  background-color: #e67e22;
  color: white !important;
}

.once {
  background-color: #d35400;
  color: white !important;
}

.trece {
  background-color: #c0392b;
  color: white !important;
}
