@import "fonts.scss";

//$main-color: #ee699b;
$main-color: #efbc21;

body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
  background-position: center;
  background-size: cover;
  font-family: "Birthstone", cursive;

  font-size: 15px;

  border: 0;
  vertical-align: baseline;
}

main {
  width: 80%;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 25px #ddd;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  padding: 5px;
  margin: auto;
  width: 90%;
}

h2 {
  font-weight: normal;
}

p {
  text-align: justify;
  font-family: Georgia, sans-serif;
  line-height: 1.3;
  letter-spacing: 0.05em;
  padding: 0 0.8em;
  margin-top: 1em;
  font-size: 0.9em;
  color: #777;
}

/********************************************/

.hidden {
  display: none;
}

#heart-beat {
  animation: beat 3s linear infinite;
  padding-left: 0.5em;
}

#star-move {
  animation: moveS 1s linear infinite;
}

#move-code {
  animation: moveCode 1s linear infinite;
}

#move-tool {
  animation: moveTool 1s linear infinite;
}

span.footer_thanks:hover #heart-beat {
  animation: beat 1.5s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1.2);
  }

  5% {
    transform: scale(1.4);
  }

  10% {
    transform: scale(1.2);
  }

  15% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes moveS {
  0% {
    transform: scale(1.2);
  }

  20% {
    transform: rotate(-1deg) scale(1.1);
  }

  40% {
    transform: scale(1.2);
  }

  50% {
    transform: rotate(2deg) scale(1.1);
  }

  70% {
    transform: rotate(-1deg) scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes moveCode {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(2deg) scale(1.1);
  }

  75% {
    transform: rotate(-2deg) scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveTool {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(-1deg) scale(1.1);
  }

  65% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.working-on-it {
  position: absolute;
  top: 0.7em;
  width: 5em;
  margin: auto;
  padding-left: 2em;
}

/********************************************Header*/
.Mainlogo {
  margin: auto;
  width: 180px;
}

.header_main {
  position: relative;
  margin: auto;
  padding: 4rem 2rem 0.5rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
}

.header_social_icon {
  transition: fill 0.3s;
  width: 19px;
  height: 19px;
  padding: 5px;
}

.header_controlbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.author {
  display: block;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
}

.subAuth {
  display: block;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.78rem;
  letter-spacing: 0.07rem;
  color: #777;
  text-transform: uppercase;
}

.header_arrows {
  padding: 8px;
}

.header_spinner {
  position: absolute;
  top: 55.5%;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px dashed #ddd;
  z-index: -1;
  -webkit-animation: spin 35s linear infinite;
  animation: spin 35s linear infinite;
}

.header_spinner2 {
  position: absolute;
  top: 55.5%;
  left: 50%;
  width: 275px;
  height: 275px;
  border-radius: 100%;
  border: 2px dashed #333;
  z-index: -1;
  animation: spin 55s linear reverse infinite;
}

.header_spinner3 {
  position: absolute;
  top: 55.5%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 2px dashed #ddd;
  z-index: -1;
  -webkit-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}

.header_spinner .innersphere {
  position: absolute;
  border-radius: 100%;
}

.header_spinner .innersphere1 {
  width: 7px;
  height: 7px;
  top: -2%;
  left: 50%;
  background: #656565;
}

.header_spinner .innersphere2 {
  width: 10px;
  height: 10px;
  top: -2.5%;
  left: 55%;
  background: $main-color;
}

.header_spinner .innersphere3 {
  width: 8px;
  height: 8px;
  top: 40%;
  left: -1.5%;
  background: $main-color;
}

.header_spinner .innersphere4 {
  width: 11px;
  height: 11px;
  bottom: 2%;
  left: 70%;
  border: 2px solid #777;
}

.header_spinner .innersphere5 {
  width: 8px;
  height: 8px;
  bottom: 5%;
  left: 20%;
  border: 3px solid $main-color;
}

.header_spinner_closer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 78.5%;
  background: white;
}

.header_spinner_closer2 {
  position: absolute;
  bottom: 32%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(white 86%, transparent 100%);
}

.header_spinner_closer3 {
  position: absolute;
  bottom: 32%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(white 40%, transparent 45%);
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/***********************************************Nav Bar*/
.tabGrid {
  position: relative;
  overflow: hidden;
  min-height: 20vh;
  transition: height 0.35s;
  margin: auto auto 5px;
}

.tab_container {
  position: relative;
  margin: auto;
}

/********************************************PDF */

.pdf-box {
  width: 100%;
  margin: 3% 1%;
  text-align: center;

  iframe {
    //min-height: 700px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    aspect-ratio: 1/1.414;
  }
}

@media (max-width: 600px) {
  .pdf-box iframe {
    aspect-ratio: 1/1.5;
  }
}

@media (min-width: 800px) {
  .pdf-box iframe {
    width: 75%;
  }
}

/********************************************Gallery */

#sectionGallery {
  width: 90%;
  min-height: 400px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  transition: 0.5s;
}

.containerImg {
  flex-direction: column;
}

.containerImg div {
  display: flex;
  justify-content: center;
}

.containerImg img {
  width: 96%;
  padding: 15px;
  transition: 0.5s;

  animation-name: zoominh1;
  animation-duration: 1s;
}

.containerImg img:hover {
  transform: scale(1.03);
}

/********************************************Main Showcase*/
#main-showcase {
  color: black;
  text-align: center;
  margin-right: 1%;
  margin-left: 1%;
}

#main-showcase h1:hover {
  background-color: rgb(58, 58, 58);
}

/********************************************Image*/
.image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image img {
  width: 90%;
  border-radius: 8px;
}

/********************************************Formularios CCS*/
.form-box {
  margin-top: 3%;
  margin-right: 1%;
  margin-bottom: 3%;
  margin-left: 1%;
  background-color: #2d2d2d;
  text-align: center;
  border-radius: 10px;
}

.form-box h2:hover {
  background: #42525c;
  border-radius: 30px;
}

.form-box h3 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 0px;
  padding-bottom: 4px;
}

.form-box a:hover {
  color: #ffffff;
}

.form-box .imgzoom {
  transition: 0.5s;
}

.form-box .imgzoom:hover {
  border-radius: 50px;
}

/*******************************************Grip Mosaico*/

#container_threejs {
  width: 50%;
  margin: auto;
}

@media all and (max-width: 1000px) {
  #container_threejs {
    width: 85%;
  }
}

@media all and (max-width: 600px) {
  #container_threejs {
    width: 90%;
  }
}

canvas:focus {
  outline: none;
}

#container_art {
  margin-left: 15%;
  margin-right: 15%;
}

@media all and (max-width: 600px) {
  #container_art {
    padding: 0em;
    margin-left: 4%;
    margin-right: 4%;
  }
}

#container_art iframe {
  width: 100%;
  height: 380px;
}

h2.portfolio_text {
  padding: 2em 0 2em 0;
  font-size: 1.3rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  text-align: center;
  background: white;
  margin: auto;

  letter-spacing: 0.07em;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  h2.portfolio_text {
    padding-left: 0em;
    padding-right: 0em;
  }
}

/**********************************************/
.skills-bars {
  width: 75%;
  margin: auto;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 1.5em 0;
  width: 100%;
  border-top: #222 2px solid;
}

.percentage {
  align-items: flex-end;
  margin: auto;
  padding: 0%;
  width: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9em;
  border-top: #222 0px solid;
  text-align: right;
}

.fill {
  background: linear-gradient(to right, white 5em, $main-color 30%);
  color: #222;
  font-size: 1em;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

@media all and (max-width: 500px) {
  .fill {
    background: linear-gradient(to right, white 5em, $main-color 50%);
  }
}

/***********************************************Tools***/

.ides_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;
  width: 75%;
  transition: all 1s;
}

@media all and (max-width: 600px) {
  .ides_container {
    justify-content: center;
    width: 80%;
  }
}

@media all and (min-width: 600px) {
  .ides_container {
    width: 440px;
  }
}

@media all and (min-width: 800px) {
  .ides_container {
    width: 650px;
  }
}

@media all and (min-width: 1300px) {
  .ides_container {
    width: 903px;
  }
}

@media all and (min-width: 1800px) {
  .ides_container {
    width: 1197px;
  }
}

.ides_container .grid-element {
  width: 97px;
  height: 97px;
  margin: 0 3px 3px 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  background: #f8f8f8;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 0.5s;
}

.grid-element:hover {
  animation: imgMove 1.5s linear infinite;
}

@keyframes imgMove {
  0% {
    transform: rotate(-1deg);
  }

  20% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  70% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

@media all and (min-width: 600px) {
  .ides_container .grid-element {
    width: calc(440px / 4 - 4px);
    height: calc(440px / 4 - 4px);
  }
}

@media all and (min-width: 800px) {
  .ides_container .grid-element {
    width: calc(650px / 5 - 4px);
    height: calc(650px / 5 - 4px);
  }
}

@media all and (min-width: 1200px) {
  .ides_container .grid-element {
    width: calc(903px / 7 - 4px);
    height: calc(903px / 7 - 4px);
  }
}

@media all and (min-width: 1800px) {
  .ides_container .grid-element {
    width: calc(1197px / 9 - 4px);
    height: calc(1197px / 9 - 4px);
  }
}

/********************************************footer */

footer {
  display: block;
}

.footer_main {
  background: #f2f2f2;
  margin-top: 4rem;
  box-sizing: border-box;
}

.footer_main span.footer_thanks {
  display: block;
  text-align: center;
  padding: 1rem 0.7rem;
  font-size: 2.5rem;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media all and (min-width: 1600px) {
  .footer_main span.footer_thanks {
    padding: 2.8rem 0;
    font-size: 3.4rem;
  }
}

.footer_flex_container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.footer_flex_container .footer_main_b1 {
  flex: 0 0 100%;
}

@media all and (min-width: 1150px) {
  .footer_flex_container .footer_main_b1 {
    flex: 0 1 35%;
  }
}

.footer_flex_container .footer_main_b2 {
  flex: 0 0 100%;
}

@media all and (min-width: 1150px) {
  .footer_flex_container .footer_main_b2 {
    flex: 1 1 65%;
  }
}

.footer_main_b1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.footer_main_b1 .fmb1_container {
  margin: 3em auto 5em auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 16em;
}

@media all and (min-width: 500px) {
  .footer_main_b1 .fmb1_container {
    width: 20em;
  }
}

@media all and (min-width: 1150px) {
  .footer_main_b1 .fmb1_container {
    margin: 3em auto 3em auto;
    width: 16em;
  }
}

@media all and (min-width: 1600px) {
  .footer_main_b1 .fmb1_container {
    font-size: 1.4em;
  }
}

.footer_main_b1 .fmb1_container svg {
  width: 5em;
  height: 5em;
  margin-bottom: 1.2em;
}

.footer_main_b1 .fmb1_container span.buildtogheter {
  font-size: 2.1em;
  color: #444;
}

.footer_main_b1 .fmb1_container p.buildtogheter_text {
  text-align: justify;
  font-family: Georgia, sans-serif;
  line-height: 1.3;
  letter-spacing: 0.05em;
  padding: 0 0.8em;
  margin-top: 1em;
  font-size: 0.9em;
  color: #777;
}

.footer_main_b2 h3.footer_featured {
  margin: 2em 0 0.25em 0;
  color: #444;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

@media all and (min-width: 1150px) {
  .footer_main_b2 h3.footer_featured {
    display: block;
  }
}

@media all and (min-width: 1600px) {
  .footer_main_b2 h3.footer_featured {
    font-size: 1.4em;
  }
}

.footer_main_b2 span.footer_featured_desc {
  margin: 0 0 1em 0;
  color: #888;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  text-align: center;
  display: none;
}

@media all and (min-width: 1150px) {
  .footer_main_b2 span.footer_featured_desc {
    display: block;
  }
}

@media all and (min-width: 1600px) {
  .footer_main_b2 span.footer_featured_desc {
    font-size: 1.12em;
  }
}

.footer_main_b2 > a {
  width: 50%;
  display: block;
  margin: auto;
  position: relative;
  margin: 0.5rem auto 3rem auto;
  display: none;
}

@media all and (min-width: 1150px) {
  .footer_main_b2 > a {
    display: block;
  }
}

@media all and (min-width: 1600px) {
  .footer_main_b2 > a {
    margin: 0.5rem auto 5rem auto;
  }
}

.footer_main_b2 > a img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  transition: transform 0.2s;
  /* Animation */
}

.footer_main_b2 img:hover {
  transform: scale(1.2);
}

@media all and (min-width: 1600px) {
  .footer_main_b2 > a img {
    border-radius: 10px;
  }
}

.footer_main_b2 .fmb2_container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 80%;
}

@media all and (min-width: 1600px) {
  .footer_main_b2 .fmb2_container {
    font-size: 1.35em;
  }
}

.main_links_box,
.contact_info_box {
  flex: 0 0 100%;
  margin: 2em 0 1.5em 0;
  box-sizing: border-box;
}

@media all and (min-width: 400px) {
  .main_links_box,
  .contact_info_box {
    flex: 0 0 49%;
    margin: 0 0 2.5em 0;
  }
}

.main_links_box a,
.contact_info_box a {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 1em;
  font-size: 0.8em;
  text-align: center;
  text-decoration: underline;
  color: #606060;
  transition: color 0.3s;
}

.main_links_box a:hover,
.contact_info_box a:hover {
  color: #222;
}

.main_links_box span,
.contact_info_box span {
  display: block;
  font-size: 0.9em;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  color: #222;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

@media all and (min-width: 720px) {
  .main_links_box,
  .contact_info_box {
    flex: 0 0 35%;
    padding-right: 1.5em;
  }
}

.social_links_box {
  flex: 1 0 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 2em auto 2em;
}

.social_links_box .socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.social_links_box .socials > a {
  margin: 0 0 0.5em 0.9em;
}

.social_links_box .socials > a:first-of-type {
  margin: 0 0 0.5em 0;
}

@media all and (min-width: 400px) {
  .social_links_box .socials > a {
    margin: 0 0 0.5em 0.9em;
  }
}

@media all and (min-width: 720px) {
  .social_links_box .socials > a {
    margin: 0 0 1.4em 0.9em;
  }
}

.header_social_icon:hover {
  fill: $main-color;
}

.social_links_box .socials > a:hover > svg {
  fill: $main-color;
}

.social_links_box .socials > a > svg {
  transition: fill 0.3s;
  width: 1.3em;
  height: 1.3em;
}

@media all and (min-width: 400px) {
  .social_links_box {
    margin: 1em auto 2em;
  }
}

@media all and (min-width: 720px) {
  .social_links_box {
    flex: 1 0 0;
    margin: 0 auto 1em;
  }
}

.social_links_box span {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin: 0.5em 0 0 0em;
  text-align: center;
}

@media all and (min-width: 720px) {
  .social_links_box span {
    margin: 0;
  }
}

.social_links_box span svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-right: 3px;
}

.social_links_box > span:hover > svg {
  fill: $main-color;
}

.footer_sub {
  width: 100%;
  background: #444;
  box-sizing: border-box;
}

@media all and (min-width: 1600px) {
  .footer_sub {
    font-size: 1.35em;
  }
}

.footer_sub p {
  text-align: center;
  padding: 0.3em;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer_sub p small {
  font-size: 0.75em;
  color: #ddd;
}

.footer_sub p span {
  font-size: 1.5em;
  font-family: "Birthstone", cursive;
  display: block;
  margin: 0.5em 0 0 0;
  color: #ddd;
}

.footer_sub p span > svg {
  width: 0.75em;
  height: 0.75em;
  fill: #ddd;
}

@media all and (min-width: 650px) {
  .footer_sub p span {
    margin: 0 0 0 3em;
    display: inline;
  }
}

@media all and (max-width: 1099px) {
  main {
    width: 100%;
  }
}

@media all and (min-width: 1100px) {
  main {
    width: 90%;
  }
}

@media all and (min-width: 1300px) {
  main {
    width: 80%;
  }
}
