<app-header></app-header>

<div class="portfolio_text_container">
  <hr class="header_separator" />
  <h1 class="portfolio_text" (click)="scrollToElement('pdf-box')">
    Web Portfolio
  </h1>
</div>

<app-content-container></app-content-container>

<!--<div class="portfolio_text_container">
  <hr class="header_separator" />
  <h1 class="portfolio_text">Curriculum Vitae</h1>
</div>

<section id="pdf-box" class="pdf-box">
  <iframe
    src="https://docs.google.com/file/d/1PGL0P8TQLpFAt89oi9dmSCbg_P4iHN5p5aWqRigBx8c/preview?usp=sharing"
    style="border: none"
  >
  </iframe>
</section> -->

<app-footer></app-footer>
