<header>
  <div class="header_main">
    <div class="header_spinner2"></div>
    <div class="header_spinner_closer2"></div>
    <div class="header_spinner">
      <div class="innersphere innersphere1"></div>
      <div class="innersphere innersphere2"></div>
      <div class="innersphere innersphere3"></div>
      <div class="innersphere innersphere4"></div>
      <div class="innersphere innersphere5"></div>
    </div>
    <div class="header_spinner3"></div>
    <div class="header_spinner_closer3"></div>
    <div class="header_spinner_closer"></div>

    <img
      class="Mainlogo"
      src="assets/SVG/undraw_developer_activity_re_39tg.svg"
      alt="My Happy SVG"
    />

    <div class="header_controlbox">
      <svg
        class="header_arrows icon icon-tabler icon-tabler-arrow-bar-left"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="4" y1="12" x2="14" y2="12"></line>
        <line x1="4" y1="12" x2="8" y2="16"></line>
        <line x1="4" y1="12" x2="8" y2="8"></line>
        <line x1="20" y1="4" x2="20" y2="20"></line>
      </svg>

      <div class="authContainer">
        <span class="author">David Ramos</span>
        <span class="subAuth">Software Engineer</span>
      </div>

      <svg
        class="header_arrows icon icon-tabler icon-tabler-arrow-bar-right"
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="20" y1="12" x2="10" y2="12"></line>
        <line x1="20" y1="12" x2="16" y2="16"></line>
        <line x1="20" y1="12" x2="16" y2="8"></line>
        <line x1="4" y1="4" x2="4" y2="20"></line>
      </svg>
    </div>

    <nav class="header_social_icon_links">
      <a
        style="text-decoration: none"
        target="_blank"
        href="https://github.com/David-TheBridgeDev"
      >
        <svg
          class="header_social_icon icon icon-tabler icon-tabler-brand-github"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="black"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </svg>
      </a>

      <a
        style="text-decoration: none"
        target="_blank"
        href="https://www.linkedin.com/in/David-TheBridgeDev"
      >
        <svg
          class="header_social_icon icon icon-tabler icon-tabler-brand-linkedin"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="black"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="4" width="16" height="16" rx="2"></rect>
          <line x1="8" y1="11" x2="8" y2="16"></line>
          <line x1="8" y1="8" x2="8" y2="8.01"></line>
          <line x1="12" y1="16" x2="12" y2="11"></line>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
      </a>

      <a
        style="text-decoration: none"
        target="_blank"
        href="mailto:info@dramos.dev"
      >
        <svg
          class="header_social_icon icon icon-tabler icon-tabler-mail-forward"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="black"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
          ></path>
          <path d="M3 6l9 6l9 -6"></path>
          <path d="M15 18h6"></path>
          <path d="M18 15l3 3l-3 3"></path>
        </svg>
      </a>
    </nav>
  </div>
</header>
