<aside id="tab_header" class="tab_header">
  <span class="TagSelector" tag="tools">{{ 'Tools.Title' | translate }}</span>
</aside>
<div id="container_tools" class="tabElement">
  <h2 class="portfolio_text">
    {{ 'Tools.Title' | translate }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="move-tool"
      style="
        padding-left: 0.2em;
        height: 32px;
        position: relative;
        top: 9px;
      "
      stroke-width="2"
      stroke="#efbc21"
      fill="none"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
      <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
      <polyline points="12 8 7 3 3 7 8 12"></polyline>
      <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
      <polyline points="16 12 21 17 17 21 12 16"></polyline>
      <line x1="16" y1="17" x2="14.5" y2="18.5"></line>
    </svg>
  </h2>

  <div class="graphics_ides ides_container">
    <div
      matTooltip="intellij"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/intellij.png&quot;);
      "
    ></div>

    <div
      matTooltip="vscode"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/vscode.png&quot;);
      "
    ></div>

    <div
      matTooltip="rider"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/rider.png&quot;);
      "
    ></div>

    <div
      matTooltip="eclipse"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/eclipse.png&quot;);
      "
    ></div>

    <div
      matTooltip="vs"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/vs.png&quot;);
      "
    ></div>

    <div
      matTooltip="atom"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/atom.png&quot;);
      "
    ></div>

    <div
      matTooltip="WebStorm"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/ides/WebStorm.png&quot;);
      "
    ></div>

    <div
      matTooltip="github"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/devtools/github.png&quot;);
      "
    ></div>

    <div
      matTooltip="terminal"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/devtools/terminal.png&quot;);
      "
    ></div>

    <div
      matTooltip="git"
      class="grid-element"
      style="
        background-image: url(&quot;assets/images/png/devtools/git.png&quot;);
      "
    ></div>
  </div>
</div>
