<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h3 class="terminal-text">
        {{ "PageNotFound.SystemError" | translate }}
      </h3>
      <h1 class="glitch-container" [routerLink]="['/', AppRoutes.HOME]">
        <span class="glitch" data-text="4">4</span>
        <span class="glitch" data-text="0">0</span>
        <span class="glitch" data-text="4">4</span>
      </h1>
    </div>
    <h2 class="typing-text">
      {{ "PageNotFound.Description" | translate }}
    </h2>
    <div class="cursor">_</div>

    <div class="actions">
      <button class="btn-back" [routerLink]="['/', AppRoutes.HOME]">
        <span class="btn-text">{{
          "PageNotFound.BackToHome" | translate
        }}</span>
        <span class="btn-glitch"></span>
      </button>
    </div>
  </div>
</div>
