<div class="tab_container">
  <aside id="tab_header" class="tab_header">
    <span class="TagSelector active" tag="threejs">Main</span>
    <span class="TagSelector" tag="skills">Skills</span>
    <span class="TagSelector" tag="tools">Tools</span>
    <span class="TagSelector" tag="vr">VR</span>
    <span class="TagSelector" tag="art">Art</span>
    <span class="TagSelector" tag="projects">Projects</span>
  </aside>

  <nav class="tabGrid">
    <div id="container_threejs" class="tabElement">
      <app-wheelchair></app-wheelchair>
    </div>

    <div id="container_skills" class="tabElement hidden">
      <!--Programing Languages-->
      <div class="skills-container">
        <h2 class="portfolio_text">
          Programing Languages
          <svg
            id="move-code"
            style="height: 32px; position: relative; top: 10px"
            viewBox="0 0 48 48"
            xmlns="http://www.w3.org/2000/svg"
            fill="#efbc21"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>code-programming</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="invisible_box" data-name="invisible box">
                  <rect width="48" height="48" fill="none"></rect>
                </g>
                <g id="Q3_icons" data-name="Q3 icons">
                  <path
                    d="M22,35h-.5a2,2,0,0,1-1.4-2.5l4-17.9a2,2,0,1,1,3.8,1l-4,18A1.9,1.9,0,0,1,22,35Z"
                  ></path>
                  <path
                    d="M17,31a2,2,0,0,0,1.3-3.5L14,24l4.3-3.5a2,2,0,1,0-2.6-3l-6,5a2,2,0,0,0,0,3l6,5A1.9,1.9,0,0,0,17,31Z"
                  ></path>
                  <path
                    d="M31,31a2,2,0,0,1-1.3-3.5L34,24l-4.3-3.5a2,2,0,0,1,2.6-3l6,5a2,2,0,0,1,0,3l-6,5A1.9,1.9,0,0,1,31,31Z"
                  ></path>
                  <path
                    d="M44,6H4A2,2,0,0,0,2,8V40a2,2,0,0,0,2,2H44a2,2,0,0,0,2-2V8A2,2,0,0,0,44,6ZM42,38H6V10H42Z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </h2>
        <div class="skills-list">
          <div class="skill">
            <div style="width: 120px">Java</div>
          </div>
          <div class="skill">
            <div style="width: 110px">C#</div>
          </div>
          <div class="skill">
            <div style="width: 100px">TypeScript</div>
          </div>
        </div>
      </div>

      <!--Back-End-->
      <div class="skills-container">
        <h3>Back-End</h3>
        <div class="skills-list">
          <div class="skill">
            <div style="width: 100px">Jakarta EE</div>
          </div>
          <div class="skill">
            <div style="width: 100px">Spring boot</div>
          </div>
          <div class="skill">
            <div style="width: 100px">Maven</div>
          </div>
          <div class="skill">
            <div style="width: 100px">JDK 8-21</div>
          </div>
          <div class="skill">
            <div style="width: 110px">REST-Services</div>
          </div>
        </div>
      </div>

      <!--Front-End-->
      <div class="skills-container">
        <h3>Front-End</h3>
        <div class="skills-list">
          <div class="skill">
            <div style="width: 140px">Angular 12-19</div>
          </div>
          <div class="skill">
            <div style="width: 110px">Vaadin 8-14</div>
          </div>
          <div class="skill">
            <div style="width: 120px">Apache Struts</div>
          </div>
          <div class="skill">
            <div style="width: 90px">Three.js</div>
          </div>
        </div>
      </div>

      <!--VR-->
      <div class="skills-container">
        <h3>VR</h3>
        <div style="display: flex; flex-wrap: wrap; gap: 15px">
          <div class="skill">
            <div style="width: 120px">Unity</div>
          </div>
          <div class="skill">
            <div style="width: 90px">Blender</div>
          </div>
        </div>
      </div>

      <!--BBDD-->
      <div class="skills-container">
        <h3>BBDD</h3>
        <div class="skills-list">
          <div class="skill">
            <div style="width: 120px">SQL</div>
          </div>
          <div class="skill">
            <div style="width: 90px">MongoDB</div>
          </div>
        </div>
      </div>
    </div>

    <div id="container_tools" class="tabElement hidden">
      <h2 class="portfolio_text">
        Dev Tools
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="move-tool"
          style="
            padding-left: 0.2em;
            height: 32px;
            position: relative;
            top: 9px;
          "
          stroke-width="2"
          stroke="#efbc21"
          fill="none"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
          <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
          <polyline points="12 8 7 3 3 7 8 12"></polyline>
          <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
          <polyline points="16 12 21 17 17 21 12 16"></polyline>
          <line x1="16" y1="17" x2="14.5" y2="18.5"></line>
        </svg>
      </h2>

      <div class="graphics_ides ides_container">
        <div
          matTooltip="intellij"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/intellij.png&quot;);
          "
        ></div>

        <div
          matTooltip="vscode"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/vscode.png&quot;);
          "
        ></div>

        <div
          matTooltip="rider"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/rider.png&quot;);
          "
        ></div>

        <div
          matTooltip="eclipse"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/eclipse.png&quot;);
          "
        ></div>

        <div
          matTooltip="vs"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/vs.png&quot;);
          "
        ></div>

        <div
          matTooltip="atom"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/atom.png&quot;);
          "
        ></div>

        <div
          matTooltip="WebStorm"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/ides/WebStorm.png&quot;);
          "
        ></div>

        <div
          matTooltip="github"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/devtools/github.png&quot;);
          "
        ></div>

        <div
          matTooltip="terminal"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/devtools/terminal.png&quot;);
          "
        ></div>

        <div
          matTooltip="git"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/devtools/git.png&quot;);
          "
        ></div>
      </div>
    </div>

    <div id="container_vr" class="tabElement hidden">
      <app-vr></app-vr>
    </div>

    <div id="container_art" class="tabElement hidden">
      <h2 class="portfolio_text">
        Never forget the moment to go beyond the stars
        <svg
          id="star-move"
          style="
            padding-left: 0.2em;
            height: 32px;
            position: relative;
            top: 9px;
          "
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-comet"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#efbc21"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M15.5 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"
          ></path>
          <line x1="4" y1="4" x2="11" y2="11"></line>
          <line x1="9" y1="4" x2="12.5" y2="7.5"></line>
          <line x1="4" y1="9" x2="7.5" y2="12.5"></line>
        </svg>
      </h2>
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/playlist/4A1KU5PCqwV77mRPncXKGt?utm_source=generator&theme=1"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen;"
      >
      </iframe>
    </div>

    <div id="container_projects" class="tabElement hidden">
      <h2 class="portfolio_text">
        Project Portfolio
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="move-tool"
          style="
            padding-left: 0.2em;
            height: 32px;
            position: relative;
            top: 9px;
          "
          stroke-width="2"
          stroke="#efbc21"
          fill="none"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
          <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
          <polyline points="12 8 7 3 3 7 8 12"></polyline>
          <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
          <polyline points="16 12 21 17 17 21 12 16"></polyline>
          <line x1="16" y1="17" x2="14.5" y2="18.5"></line>
        </svg>
      </h2>

      <div class="graphics_ides ides_container container_projects_icons">
        <div
          matTooltip="Home Automation"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/others/domotic.png&quot;);
          "
          (click)="navegateToDomotic()"
        ></div>

        <div
          matTooltip="Music"
          class="grid-element"
          style="
            background-image: url(&quot;assets/images/png/others/music.png&quot;);
          "
          (click)="navegateToMusic()"
        ></div>
      </div>
    </div>
  </nav>
</div>
