:host {
  display: block;
  padding-top: 20px;
  transition: padding-top 0.4s ease;

  &.is-minimized {
    padding-top: 40px;

    @media (max-width: 460px) {
      padding-top: 60px; // Espacio extra en móviles al minimizar
    }
  }
}
