<div class="portfolio_text_container">
  <hr class="header_separator" />
  <h1 class="portfolio_text">Web Portfolio</h1>
</div>

<div class="tab_container">
  <nav class="tabGrid">
    <div id="container_threejs" class="tabElement">
      <app-wheelchair></app-wheelchair>
    </div>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="skills">{{
        "Skills.Title" | translate
      }}</span>
    </aside>
    <div id="container_skills" class="tabElement">
      <app-skills></app-skills>
    </div>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="tools">{{
        "Tools.Title" | translate
      }}</span>
    </aside>
    <div id="container_tools" class="tabElement">
      <app-tools></app-tools>
    </div>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="vr">VR</span>
    </aside>
    <div id="container_vr" class="tabElement">
      <app-vr></app-vr>
    </div>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="art">Art</span>
    </aside>
    <div id="container_art" class="tabElement">
      <app-art></app-art>
    </div>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="experience">{{
        "Experience.Title" | translate
      }}</span>
    </aside>
    <div id="container_experience" class="tabElement">
      <app-experience></app-experience>
    </div>
  </nav>
</div>
