<div class="portfolio_text_container">
  <hr class="header_separator" />
  <h1 class="portfolio_text">Web Portfolio</h1>
</div>

<div class="tab_container">
  <nav class="tabGrid">
    <div id="container_threejs" class="tabElement">
      <app-wheelchair></app-wheelchair>
    </div>

    <app-skills></app-skills>

    <app-tools></app-tools>

    <aside id="tab_header" class="tab_header">
      <span class="TagSelector" tag="vr">VR</span>
    </aside>
    <div id="container_vr" class="tabElement">
      <app-vr></app-vr>
    </div>

    <app-art></app-art>

    <app-experience></app-experience>
  </nav>
</div>
